@page
@using CriticsSayWeb.Pages.Model
@model CriticsSayWeb.Pages.Movies.ViewMoviesModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticate" : "_Layout";
}

<form method="post" class="form-group">
    <div class="row m-2">
        <div class="col-2">
            <label class="form-label text-light">Genre</label>
        </div>
        <div class="col-8">
            <select asp-for="SelectGenreId" asp-items="Model.Genres"></select>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" id="btnView">Display</button>
        </div>
    </div>
    <div class="row">
        @foreach (var movieModel in Model.MovieModel)
        {
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="@movieModel.MoviePoster" class="card-img-top" alt="Movie Poster" style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">@movieModel.MovieTitle</h5>
                        <p class="card-text">@movieModel.MovieDescription</p>
                        <p class="card-text"><small class="text-muted">Release Date: @movieModel.ReleaseDate.ToShortDateString()</small></p>
                        <a asp-page="EditMovie" asp-route-id="@movieModel.MovieId" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
